cmake-build-debug
CMakeFiles
cmake_install.cmake
*.a
pack
Makefile
install_manifest.txt
CMakeCache.txt
.idea/
hamon
.cmake/
Testing/
_deps
WARP.md
CTestTestfile.cmake
hamon_tests[1]_include.cmake
hamon_tests[1]_include.cmake
hamon_tests[1]_include.cmake
hamon_tests[1]_tests.cmake
.vscode/
