cmake-build-debug
CMakeFiles
cmake_install.cmake
*.a
pack
Makefile
install_manifest.txt
CMakeCache.txt
.idea/
.cmake/
Testing/
_deps
WARP.md
CTestTestfile.cmake
*_include.cmake
*_tests.cmake
.vscode/
_tests
*.o
build
hamon_tests
